<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasics"
        tools:targetApi="31">
        <activity
            android:name=".Permissions"
            android:exported="true" />
        <activity
            android:name=".portfolio.MyPortfolio"
            android:exported="true" />
        <activity
            android:name=".CA2"
            android:exported="true" />
        <activity
            android:name=".portfolio.Portfolio"
            android:exported="true" />
        <activity
            android:name=".MenuBar"
            android:exported="true" />
        <activity
            android:name=".ImplicitIntend"
            android:exported="true" />
        <activity
            android:name=".localizing_app"
            android:exported="true" />
        <activity
            android:name=".lpu_touch.LpuTouchHome"
            android:exported="true" />
        <activity
            android:name=".SnackBar"
            android:exported="true" />
        <activity
            android:name=".flower_app.flower_app_home_page"
            android:exported="true" />
        <activity
            android:name=".flipkart.FlipkartHomePage"
            android:exported="true" />
        <activity
            android:name=".flipkart.FlipkartLoginPage"
            android:exported="true" />
        <activity
            android:name=".CA1"
            android:exported="true" />
        <activity
            android:name=".TravelApp"
            android:exported="true" />
        <activity
            android:name=".flower_app.ConstrainLayout"
            android:exported="true" />
        <activity
            android:name=".PizzaApp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>